*{
    padding: 0%;
    margin: 0%;
}
.container {
  height: 50vh;          /* full viewport height */
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
}

.container img {
  max-width: 100%;
  height: auto;
  border: 2px solid black;
}
h1{
    color: red;
    text-align: center;
}
h2
{
    text-align: center;
    color: blue;
}
section
{
    text-align: center;
    color: hotpink;
}
a
{
    text-align: center;
    color: hotpink;
}
h3
{
    text-align: center;
    color: rgb(255, 77, 0);
}
p
{
    text-align: center;
    color: rgb(255, 0, 157);
}
ol
{
    text-align: center;
    color: rgb(255, 0, 157);
}
ul
{
    text-align: center;
    color: rgb(255, 0, 157);
}
footer
{
    text-align: center;
    color: rgb(255, 0, 157);
}